.quiz-results .score span {
  color: #f9a72c;
}

.quiz-results ul {
  list-style: none;
  padding-inline-start: 0px;
  counter-reset: counter;
  display: grid;
  flex-direction: column;
  gap: 1.5rem;
}

.quiz-results li h2 {
  color: #f9a72c;
}

.quiz-results li p.correct {
  color: green;
}
.quiz-results li p.wrong {
  color: red;
}

.quiz-results li h2::before {
  counter-increment: counter;
  content: counter(counter) '. ';
  font-size: 1.3rem;
}
