header {
  display: flex;
  justify-content: space-between;
}
header h2 {
  margin-top: 0;
}

.close-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0px 10px;
  height: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #1d1a16;
}

.close-button:hover,
.close-button:active {
  color: #ffab04;
}
