.tasks-container {
  margin-top: 2rem;

  h1 {
    margin: 0;
  }
  .new-task-options {
    margin-top: 1.5rem;

    input {
      background-color: lightgrey;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      padding: 0.5rem;
      min-width: 450px;

      &:focus-visible {
        //outline: 1px darkgoldenrod;
        outline: goldenrod solid 1px;
      }
    }

    button {
      cursor: pointer;
      border: none;
      margin-left: 15px;
      padding: 0.2rem 0.5rem;
      background-color: white;
      font-size: 0.9rem;
      font-weight: 600;
      color: gray;

      &:hover {
        color: goldenrod;
        text-decoration: underline;
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 1rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 0.7rem;
  }
}
